#new__channel{
    background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    align-items: center;
    color: $color-second;
    .row{
        padding: 20px;
        i{
            font-size: 3rem;
            padding-right: 20px;
            
        }
        h4{
            font-size: 1.2rem;
            font-weight: bold;
        }
        h5{
            font-size: 1rem;
        }
    }
}