#Trusted{
    text-align: center;
    h5{
        font-size: 0.8rem;
        margin-bottom: 30px;
    }
    .trusted__top{
        img{
            padding: 0 30px;
            margin-bottom: 50px;
        }
    }
    .trusted__bot{
        margin-bottom: 30px;
        border-bottom: 1px solid #14171c2b;
        .bot_item{
            padding: 10px 50px 50px 50px;
            h3{
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
}